{% extends 'layout.html' %}

{% block body_content %}

<h2>This is a search engine</h2>
<ol>
  <li>Copy paste your Python code</li>
  <li>Get code from GitHub that looks like your code</li>
</ol>

<p>This search engine does not work in the conventional way of splitting the submitted query string into tokens that can be used to retrieve documents from the database.
Instead, it parses the submitted code into an abstract syntax tree and uses the nodes of the syntax tree as tokens for retrieving similar syntax trees.
User defined variable, function, class and function argument names are ignored.
The index contains currently {{ repo_count }} repositories that amounts to {{ python_line_count }} lines of Python code.


{% endblock %}

