{% extends 'layout.html' %}

{% block head_script_includes %}
<link rel="stylesheet" href="static/css/pygments.css">
{% endblock %}

{% block body_content %}
{% if errors %}
<h2>Your code has at least one syntax error:</h2>
<pre>{{ errors }}</pre>
<a href="/">Go back</a>
{% elif not similar %}
<h2>Nothing found</h2>
<a href="/">Go back</a>
{% else %}
  <ul style="list-style-type:none">
  {% for match in similar %}
    <li>
      <div class="result">
        <p><a href="{{ match.url }}">{{ match.title }}</a></p>
        <small>{{ match.url }}</small>
        {{ match.source_html_highlighted|safe }}
      </div>
    </li>
  {% endfor %}
  </ul>
{% endif %}
{% endblock %}
