{% extends 'layout.html' %}

{% block head_script_includes %}
<link rel="stylesheet" href="static/css/pygments.css">
{% endblock %}

{% block body_content %}
{% if errors %}
<h2>Your code has at least one syntax error:</h2>
{{ errors }}
<p>Please review these resources:</p>
<ul>
  <li> https://docs.python.org/3/reference/grammar.html </li>
  <li> https://en.wikipedia.org/wiki/Context-free_grammar </li>
</ul>
{% else %}
<h2>The submitted code is similar to these snippets</h2>
  <ul style="list-style-type:none">
  {% for match in similar %}
  <li>
    <div class="result">
      <a href="{{ match.url }}">{{ match.title }}</a>
    </div>
  </li>
  {% endfor %}
{% endif %}
{% endblock %}
